body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  /* Colors */
  --simply-white: #fff;
  --cold-white: #ebf2fa;
  --right-black: #1f1f1f;
  --charcoal-gray: #99a2ad;
  --eco-green: #7cb82f;

  /* Gaps */
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-sm: 14px;

  /* Border radiuses */
  --br-3xs: 10px;
}
