.designer {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 14px;
  font-weight: 500;
}
.designer-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-base);
  color: var(--right-black);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: var(--charcoal-gray);
  width: 50px;
  height: 50px;
}
.rectangle-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
}
.google {
  font-size: 13px;
  color: var(--right-black);
}
.bangalore,
.google {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 14px;
}
.icon {
  position: relative;
  width: 9.8px;
  height: 9.8px;
}
.d,
.icon {
  display: none;
}
.applicants,
.d,
.div {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 14px;
}
.div {
  font-size: var(--font-size-xs);
  display: none;
}
.applicants {
  font-weight: 500;
  color: var(--eco-green);
}
.icon-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.google-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-wrapper1,
.group-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.group-parent {
  flex: 1;
  align-items: center;
  gap: var(--gap-3xs);
}
.frame-wrapper1 {
  width: 378px;
  align-items: flex-start;
}
.frame-container,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper {
  align-items: flex-start;
}
.jobs-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.div1 {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 14px;
}
.buildings-parent,
.jobs-parent {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.jobs-parent {
  align-self: stretch;
  display: flex;
}
.buildings-parent {
  width: 378px;
  display: none;
}
.see-how-you {
  margin: 0;
}
.try-premium-for {
  margin: 0;
  text-decoration: underline;
}
.see-how-you-container {
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  width: 346px;
  flex-shrink: 0;
}
.see-how-you-compare-to-8-appli-wrapper {
  width: 346px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.skills-communication-consult-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.01em;
}
.skills-communication-consult-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.job-description {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 113px;
  height: 11px;
  flex-shrink: 0;
}
.frame-parent2,
.job-description-wrapper,
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2,
.lorem-ipsum-dolor-sit-amet-co-wrapper {
  font-size: var(--font-size-sm);
}
.frame-parent2 {
  flex-direction: column;
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--right-black);
}
.responsibilities {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 378px;
  height: 11px;
  flex-shrink: 0;
}
.see-more {
  color: var(--charcoal-gray);
}
.apply-wrapper,
.upload-resume-wrapper {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
  width: 378px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.upload-resume-wrapper {
  top: 0;
  background-color: var(--cold-white);
  padding: var(--padding-sm) 66px;
}
.apply-wrapper {
  top: 66px;
  background-color: #4ca751;
  padding: var(--padding-sm) 71px;
  text-align: center;
  color: var(--simply-white);
}
.group-div {
  position: relative;
  width: 378px;
  height: 114px;
  font-size: var(--font-size-base);
  color: var(--right-black);
}
.frame-parent,
.job {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  width: 378px;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.job {
  position: relative;
  background-color: var(--simply-white);
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 16px 10px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--charcoal-gray);
  font-family: var(--font-roboto);
}
